# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
android/gradle/wrapper/gradle-wrapper.properties
android/build.gradle
android/build.gradle
android/build.gradle
android/gradle/wrapper/gradle-wrapper.properties
android/build.gradle
android/app/capacitor.build.gradle
package.json
package-lock.json
android/build.gradle
android/app/src/main/res/xml/config.xml
android/app/capacitor.build.gradle
android/app/capacitor.build.gradle
android/app/src/main/assets/capacitor.plugins.json
android/capacitor.settings.gradle
android/variables.gradle
android/variables.gradle
package-lock.json
package.json
