<ion-header>
  <title>Menu</title>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
    <link rel="stylesheet" href="acerca-de.page.scss" />
    <style>
      :root {
        --ion-safe-area-top: 20px;
        --ion-safe-area-bottom: 22px;
      }

    </style>
    <script type="module">
      import { menuController } from 'https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/index.esm.js';
      window.menuController = menuController;
    </script>
</ion-header>
 
<ion-content >
<ion-app>
    <ion-menu side="start" content-id="main-content">
      <ion-header>
        <ion-toolbar translucent>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
           <ion-item  *ngFor="let m of menuAgente" (click)="navegar(m.path)">
            <ion-icon slot="start" name="{{m.icon}}"></ion-icon>
            <ion-label>
              <h2>{{m.nombre}}</h2>
            </ion-label>
          </ion-item>
        </ion-list>
        <br/>
        <br/>
         <ion-button color="medium" expand="full" >Cerrar Sesion</ion-button>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Bienvenido NombreUsuario </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-header translucent>
        <ion-toolbar>
          <ion-title>Acerca de </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content fullscreen>
        
    
        <ion-card>
          <img src="../../../assets/firma_emov.png" />
          <ion-card-header>
            <ion-card-subtitle>Emov Ep.</ion-card-subtitle>
            <ion-card-title>Mision</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Impulsamos a Cuenca como una ciudad segura, amigable con el medio ambiente, 
            incluyente, sostenible y sustentable; promovemos una cultura de movilidad integral, 
            a través de la vinculación con la sociedad y con un servicio de calidad e innovación constante.
          </ion-card-content>
        </ion-card>
      
        <ion-card>
          <img src="../../../assets/Visión.jpeg" />
          <ion-card-header>
            <ion-card-subtitle>Emov Ep.</ion-card-subtitle>
            <ion-card-title>Vision</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            En el 2030 seremos un referente nacional e internacional en movilidad sustentable y 
            cultura vial ciudadana, con talento humano competente y comprometido, apoyados en la 
            innovación y tecnología,  generando experiencias de calidad en la ciudadanía, con enfoque social, ambiental y sostenibilidad organizacional.
          </ion-card-content>
        </ion-card>
      </ion-content>
 
    </div>
   
  </ion-app>
</ion-content>
<!-- Footer without a border -->
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>Siguenos</ion-title>
  </ion-toolbar>
</ion-footer>

<ion-footer>
  <ion-toolbar>
    <ion-title></ion-title>
  
      <p>
        <ion-chip outline color="primary">
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-label>Facebook</ion-label>
          
        </ion-chip>
        <ion-chip outline color="secondary">
          <ion-icon name="logo-twitter"></ion-icon>
          <ion-label>Twitter</ion-label>
          
        </ion-chip>
        <ion-chip outline color="medium">
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-label>Instagram</ion-label>
          
        </ion-chip>
        
      </p>
  </ion-toolbar>
</ion-footer>
