<ion-content class="ion-padding">
  <form (ngSubmit) = "createPdf()" [formGroup]="myForm">
    <ion-item>
      <h1 style="justify-content: center; text-align: center; width: 100%;">Generar Documento</h1>
      <ion-checkbox style="display: none" formControlName="showLogo" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Desde: </ion-label>
      <ion-input formControlName="from" [disabled]= 'true'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Hacia: </ion-label>
      <ion-input formControlName="to" [disabled]= 'true'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Su documento esta listo</ion-label>
      <ion-textarea style="display: none"  formControlName="text" rows='3' [disabled]= 'true'></ion-textarea>
    </ion-item>
    <ion-button expand="full" (click)="createPdf()" type="submit">Generar PDF</ion-button>
    <ion-button expand="full" (click)="downloadPdf()" color="secundary" [disabled]='!pdfObj'>Enviar PDF</ion-button>
  </form>
</ion-content>
