<ion-header>
   <title>Menu</title>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
    <link rel="stylesheet" href="contactenos.page.scss" />
    <style>
      :root {
        --ion-safe-area-top: 20px;
        --ion-safe-area-bottom: 22px;
      }

    </style> 
    <script type="module">
      import { menuController } from 'https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/index.esm.js';
      window.menuController = menuController;
    </script>
</ion-header>

<ion-content>
<ion-app>
    <ion-menu side="start" content-id="main-content">
      <ion-header>
        <ion-toolbar translucent>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item  *ngFor="let m of menuConductores" (click)="navegar(m.path)">
            <ion-icon slot="start" name="{{m.icon}}" ></ion-icon>
            <ion-label>
              <h2>{{m.nombre}}</h2>
            </ion-label>
          </ion-item>
         
          
        </ion-list>
        <br/>
        <br/>
         <ion-button color="medium" expand="full" >Cerrar Sesion</ion-button>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Bienvenido NombreUsuario </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list lines="full" class="ion-no-margin">
          <ion-list-header lines="full">
            <ion-label>
              Envíenos un mail
            </ion-label>
          </ion-list-header>
          <br>
          <ion-item>
            <ion-icon color="primary" name="person-circle-outline"></ion-icon>
            <ion-label position="fixed"> Nombres: </ion-label>
            <ion-input placeholder="Escriba sus nombres"></ion-input>
            <br>
           
          </ion-item>
          <br>
          <ion-item>
            <ion-icon color="primary" name="mail-sharp"></ion-icon>
            <ion-label position="fixed">Email: </ion-label>
            <ion-input placeholder="Escriba su correo"></ion-input>
            <br>
          </ion-item>
          <br>
          <ion-item>
            <ion-icon ></ion-icon>
            <ion-label position="fixed">Asunto:  </ion-label>
            <ion-input [(ngModel)]="subject" type="text" placeholder="Agregue Asunto"></ion-input>
            <br>
          </ion-item>
          <br>
          <ion-item>
            <ion-icon color="primary" name="chatbubble"></ion-icon>
            <ion-label position="fixed">Comentario: </ion-label>
            <ion-textarea [(ngModel)]="body" type="text" cols="60" position="stacked" placeholder="Descripcion del mensaje"></ion-textarea>
            <br>
          </ion-item>
          <br>

          <ion-button (click)="send()">
            Enviar Mensaje 
            <ion-icon slot="end" name="send-sharp"></ion-icon>
          </ion-button>

        </ion-list>
        <br>
        <ion-list>
          <ion-list-header>Información del Contacto</ion-list-header>
          <br>

          <ion-item>
            
            <ion-avatar>
              <ion-icon color="secondary" name="location"></ion-icon>
            </ion-avatar>
    
            <p>Dirección: Carlos Arizaga Toral y Tarquino Cordero </p>
          </ion-item>
          <ion-item>
            
            <ion-avatar>
              <ion-icon color="secondary" name="call"></ion-icon>
            </ion-avatar>
          
            <p>Teléfono: (593) 997 338 144 </p>
          </ion-item>
          <ion-item>
            <ion-avatar>
              <ion-icon color="secondary" name="mail"></ion-icon>
            </ion-avatar>
            
            <p>Email: jessicaguncay45@gmail.com </p>
          
          </ion-item>
        </ion-list>

      </ion-content>
    </div>
  </ion-app>

</ion-content>
